@using Microsoft.EntityFrameworkCore.Metadata.Internal

@model IEnumerable<CoreProject1.Models.Trip>
@{

    ViewBag.Title = "Home Page";
 
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome</h1>
        <p>This is an app</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View</a>
    </div>
 
  
</div>